  body {
    background-color: black;
    background-image: url('bigWave.png');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: center 40px;
    background-size: 110% 100%;
  }
